.nav-en-celular {
  display: none; }

.fondo1 {
  height: 400px;
  background-color: white; }

.productos-1 {
  width: 230px;
  height: 300px;
  box-shadow: 1px -2px 31px -3px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 1px -2px 31px -3px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 1px -2px 31px -3px rgba(0, 0, 0, 0.77);
  transform: translate(125px, 150px); }

.image {
  width: 200px;
  height: 250px; }

.fondo2 {
  height: 400px;
  background-color: white; }

.fondo3 {
  height: 400px;
  background-color: white; }

.fondo-de-nav {
  transition: all 1s ease; }

.color-de-letra {
  color: #39a72e; }

.color-de-le {
  color: white; }

.fondo-de-nav-grande .logo {
  margin-left: 5px;
  width: 20%;
  height: 20%; }

.fondo-de-nav-grande .mover-nav {
  transform: translateX(-100px); }

.fondo-de-nav-grande ul li a {
  font-size: 23px; }

.fondo-de-nav-grande .a {
  font-size: 23px;
  color: #39a72e; }

.card {
  width: 330px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  margin-top: 100px; }

.card img {
  width: 300px;
  height: 250px;
  text-align: center;
  margin-top: 10px; }

.card a {
  text-decoration: none;
  color: black; }

.card a:hover {
  text-decoration: none;
  color: black; }

.logo {
  margin-left: 5px;
  width: 15%;
  height: 15%; }

.mover-nav {
  transform: translateX(-100px); }

.pantalla-de-producto {
  width: 100%;
  height: 100%;
  background-color: black; }

.box {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  transition: 1s; }

.box:hover {
  transform: scale(1.1);
  z-index: 2; }

.sub-m {
  font-size: 16px;
  text-decoration: none;
  color: black; }

.sub-m:hover {
  text-decoration: none;
  color: black; }

.fondo-de-cada-producto {
  background-color: #ddd; }

nav {
  background-color: white; }

.medida {
  width: 90%; }

.producto {
  z-index: 9;
  width: 1200px;
  height: 2000px;
  margin-top: 200px;
  margin-bottom: 150px;
  transform: translateX(90px);
  background-color: white; }

.imagenes {
  width: 500px;
  height: 550px; }

.mover-imagenes {
  transform: translate(130px, 100px); }

.info {
  transform: translate(690px, -560px);
  width: 350px;
  height: 1000px;
  border-radius: 5px;
  border: solid 0.5px #dddd; }

h1 {
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px; }

.mini-parrafo {
  margin-left: 10px;
  margin-top: 20px;
  width: 300px; }

.valor-del-producto {
  font-size: 28px;
  color: #39a72e; }

.mover-carrito {
  transform: translate(600px, 0px); }

.medida-cart {
  height: 25px;
  width: 25px; }

.color-de-envios {
  color: blue;
  transform: translate(0px, 0px); }

.boton-info {
  height: 30px;
  width: 260px;
  background-color: none;
  border: none;
  border-radius: 5px;
  transform: translate(10px, 0px);
  background-color: white; }

.boton-cart {
  background-color: white;
  border: none; }

.boton-add-cart {
  transform: translate(35px, 100px);
  width: 280px;
  border-radius: 5px;
  border: none;
  background-color: #39a72e; }

.color-button-add-cart {
  color: white;
  font-size: 16px;
  font-weight: bold;
  transform: translateY(5px); }

@media screen and (max-width: 640px) {
  .fondo-de-cada-producto {
    background-color: none; }
  .producto {
    width: 640px;
    transform: translate(18px, -50px); }
  .imagenes {
    width: 340px;
    height: 600px; }
  .mover-imagenes {
    transform: translate(0px, -100px);
    margin-top: 100px; }
  .info {
    transform: translate(0px, 0px);
    width: 360px;
    height: 0;
    border-radius: 0;
    border: 0; }
  h1 {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px; }
  .mini-parrafo {
    margin-left: 0;
    margin-top: 0;
    width: 360px; }
  .valor-del-producto {
    font-size: 28px;
    color: #39a72e; }
  .nav {
    display: none; }
  .nav-en-celular {
    display: flex; }
  .logo {
    height: 20%;
    width: 20%; } }

.recuadro-para-tapar {
  height: 40px;
  width: 380px;
  background-color: white;
  transform: translateY(-30px); }
